@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

@layer base {
  body {
    background-color: #000; /* true black for OLED premium feel */
    color: #ededed;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    -webkit-font-smoothing: antialiased;
  }
  
  ::selection {
    background-color: #3b82f6; /* Blue selection */
    color: white;
  }
}

@layer utilities {
  .mask-edges {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
  }
}
