@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

@layer base {
  body {
    background-color: #09090b; /* zinc-950 */
    color: #fafafa;
  }
}

@layer utilities {
  .mask-edges {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
  }
}
